body {
  font-family: Georgia, "Times New Roman", serif;
  max-width: 780px;
  margin: 75px auto;
  padding: 0 28px;
  font-size: 1.18rem;
  line-height: 1.95;
  color: #222;
  background-color: #ffffff;
  text-align: justify;
}

.site-title {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 3.8em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 22px;
  color: #0024C9;
}

.navbar {
  display: flex;
  gap: 26px;
  margin-bottom: 60px;
  font-size: 1.05rem;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 14px;
}

.navbar a {
  text-decoration: none;
  color: #444;
}

.navbar a:hover {
  color: black;
}

h1 {
  font-size: 2.1em;
  margin-top: 1.8em;
}

h2 {
  font-size: 1.65em;
  margin-top: 1.6em;
}

h3 {
  font-size: 1.3em;
  margin-top: 1.4em;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  color: #2a5db0;
}

.content {
  font-size: 1em;
}
